<body style="padding:  6% 10%; background-color: #f3d424;  max-width: 540px; margin: 0 auto;">
  <header style="color: black; padding: 40px;">
    <img src="https://i.postimg.cc/14b92Bdt/logo.png"
      style="width: 56px; height: 36px; max-width: 56px; margin: 0 auto; display:flex; padding-bottom: 20px; " />
    <div style="display:flex; width: 100%;">
      <div>
        <h1 style="margin: 0px; font-family:Montserrat; text-align:center; color: #181a19; ">Capturação de Leads</h1>
        <h2
          style="margin: 0px; font-weight: 300; font-size: 16px; font-family:Montserrat; text-align:center; color: #181a19;">
          Este
          email veio de um
          formulário Isaques
          Estúdios, do site <%= domain %>, não responda essa mensagem.</h2>
      </div>
    </div>
  </header>
  <article style=" background-color: white;">
    <div style="text-align: center; padding: 20px 0px; border-bottom: 1px solid  #181a19; background-color: white">
      Dados Obtidos
    </div>
    <p style="padding: 0px 10%; margin-top: 40px; font-family:Montserrat; color: #181a19;">
      <span>name:</span>
      <%= name %>
    </p>
    <p style="padding: 0px 10%; font-family:Montserrat; color: #181a19;">
      <span>email:</span>
      <%= email %>
    </p>
    <p style="padding: 0px 10%; font-family:Montserrat; color: #181a19;">
      <span>Numero:</span>
      <%= phone %>
    </p>
    <p style="padding: 0px 10%; font-family:Montserrat; color: #181a19;">
      <span>Estado:</span>
      <%= state %>
    </p>
    <p style="padding: 0px 10%; margin-bottom: 80px; font-family:Montserrat; color: #181a19;">
      <span>Cidade:</span>
      <%= city %>
    </p>
    <p style="padding: 0px 10%; margin-bottom: 80px; font-family:Montserrat; color: #181a19;">
      <span>Branches:</span>
      <%= branches %>
    </p>
    <p style="padding: 0px 10%; margin-bottom: 80px; font-family:Montserrat; color: #181a19;">
      <span>Nome da Empresa:</span>
      <%= companyName %>
    </p>
    <p style="padding: 0px 10%; margin-bottom: 80px; font-family:Montserrat; color: #181a19;">
      <span>Mensagem:</span>
      <%= message %>
    </p>
    <div
      style="text-align: center; padding: 20px 0px; border-top: 1px solid  #181a19; background-color: white; font-family:Montserrat; color: #181a19;">
      by Isaques estúdios
    </div>
  </article>
  <footer style="color: black; padding:0px 40px;">
    <h4 style="text-align:center;  font-family:Montserrat; font-weight:400; font-size:14px; color: #181a19;">
      Todos os dados foram capturados de acordo com a lei de política de privacidade,
      use com moderação e conforme foi aceito pelo usuário, você é responsável pela
      segurança das informações acima.
    </h4>
    <h3 style="text-align:center; font-family:Montserrat; color: #181a19; ">
      Para mais informações entre em contato com a nossa equipe:
    </h3>
    <p style="text-align:center; font-family:Montserrat; text-decoration: none; color: #181a19;">
      www.isaquesestudios.com.br
    </p>
  </footer>
</body>